@using Restaurants_Webpage.Models.UserModels.EmployeeModels;
@model IEnumerable<EmployeeModel>;

@{
    ViewData["Title"] = $"All employees";
    string collapse = "collapse_";
    string heading = "heading_";

    var employees = Model;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="background-page">
        <h1 class="title-text">Employees from all restaurants</h1>
        <div class="line-black"></div>
        <div class="actions-menu">
            <form asp-controller="supervisor" asp-action="employeeForm" method="post">
                <input type="submit" value="Add Employee" class="btn btn-success btn-functional action-menu" />
            </form>
        </div>
        @{
            if (employees == null || employees.Count() == 0)
            {
                <div class="text-center">
                    <h4>Employees not found.</h4>
                </div>
            }
            else
            {
                foreach (var employee in employees)
                {
                    <div class="card">
                        <div class="header-card" id="@(heading + employee.IdEmployee)">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="@("#" + collapse + employee.IdEmployee)" aria-expanded="false" aria-controls="@(collapse+ employee.IdEmployee)">

                                    <table class="table-card-body-4-col table-restaurant-header">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <h5>First name:</h5>
                                                </th>
                                                <th>
                                                    <h5>Last name:</h5>
                                                </th>
                                                <th>
                                                    <h5>Salary: (PLN)</h5>
                                                </th>
                                                <th>
                                                    <h5>Certificates:</h5>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="employee-data">@employee.FirstName</td>
                                                <td class="employee-data">@employee.LastName</td>
                                                <td class="employee-data">@String.Format("{0:0.00}", employee.Salary)</td>
                                                @if (employee.Certificates != null)
                                                {
                                                    <td class="employee-data">@employee.Certificates.Count()</td>
                                                }
                                                else
                                                {
                                                    <td class="employee-data">0</td>
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </button>
                            </h5>
                        </div>
                        <div id="@(collapse + employee.IdEmployee)" class="collapse" aria-labelledby="@(heading + employee.IdEmployee)" data-parent="#accordion">
                            <div class="line-black"></div>
                            <div class="card-body">
                                <div class="row text-center">
                                    <div class="col-md-6">
                                        <div class="leftside-container">
                                            <h5>Employee details:</h5>
                                            <table class="card-body-table">
                                                <tr>
                                                    <td class="card-body-table-header">
                                                        Bonus:
                                                    </td>
                                                    <td class="card-body-table-content">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" value="@String.Format("{0:0.00}", employee.BonusSalary) PLN" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="card-body-table-header">
                                                        Hired date:
                                                    </td>
                                                    <td class="card-body-table-content">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" value="@employee.HiredDate.ToString("dd/MM/yyyy")" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="card-body-table-header">
                                                        Promotion date:
                                                    </td>
                                                    <td class="card-body-table-content">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" value="@employee.FirstPromotionChefDate?.ToString("dd/MM/yyyy")" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="card-body-table-header">
                                                        PESEL:
                                                    </td>
                                                    <td class="card-body-table-content">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" value="@employee.PESEL" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="rightside-container">
                                            <h5>Employee address:</h5>
                                            <table class="card-body-table">
                                                <tr>
                                                    <td class="card-body-table-header">
                                                        City:
                                                    </td>
                                                    <td class="card-body-table-content">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" value="@employee.Address.City" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="card-body-table-header">
                                                        Street:
                                                    </td>
                                                    <td class="card-body-table-content">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" value="@employee.Address.Street" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="card-body-table-header">
                                                        Building No.:
                                                    </td>
                                                    <td class="card-body-table-content">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" value="@employee.Address.BuildingNumber" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="card-body-table-header">
                                                        Local No.:
                                                    </td>
                                                    <td class="card-body-table-content">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" value="@employee.Address.LocalNumber" disabled>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    @if (employee.Certificates != null && employee.Certificates.Count() > 0)
                                    {
                                        <h5>Employe certificates:</h5>
                                        <table class="table table-striped text-center menu-table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Certificate name</th>
                                                    <th scope="col">Expiration date</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int rowwCounter = 1;
                                                    foreach (var certificate in employee.Certificates)
                                                    {
                                                        <tr class="table-row-certificate">
                                                            <th scope="row">@rowwCounter</th>
                                                            <td>@certificate.Name</td>
                                                            <td>@certificate.ExpirationDate.ToString("dd/MM/yyyy")</td>
                                                            <td>
                                                                <div class="btn-functional-container">
                                                                    <form asp-controller="supervisor" asp-action="employeeForm" method="post">
                                                                        <input type="hidden" name="idEmpployee" value="@employee.IdEmployee" />
                                                                        <input type="hidden" name="idCertificate" value="@certificate.IdCertificate" />
                                                                        <input type="submit" value="Edit" class="btn btn-warning btn-functional-table action-menu" />
                                                                    </form>
                                                                </div>
                                                                <div class="btn-functional-container">
                                                                    <form asp-controller="supervisor" asp-action="deleteCertificate" method="post">
                                                                        <input type="hidden" name="idEmpployee" value="@employee.IdEmployee" />
                                                                        <input type="hidden" name="idCertificate" value="@certificate.IdCertificate" />
                                                                        <input type="submit" value="Delete" class="btn btn-danger btn-functional-table action-menu" />
                                                                    </form>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        rowwCounter++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    <h5>Actions:</h5>
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="btn-functional-container">
                                                    <form asp-controller="supervisor" asp-action="employeeForm" method="post">
                                                        <input type="hidden" name="idEmpployee" value="@employee.IdEmployee" />
                                                        <input type="submit" value="Edit Employee" class="btn btn-warning btn-functional action-menu" />
                                                    </form>
                                                </div>
                                                <div class="btn-functional-container">
                                                    <form asp-controller="supervisor" asp-action="employeeForm" method="post">
                                                        <input type="hidden" name="idEmpployee" value="@employee.IdEmployee" />
                                                        <input type="submit" value="Add Certificate" class="btn btn-success btn-functional action-menu" />
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</body>
</html>