@using Restaurants_Webpage.Models.UserModels.AdministrativeModels.ExtendedModels;
@model (ExtendedRestaurantModel restaurant, int idDish, string userRole)

@{
    var restaurant = Model.restaurant;
    string uresrRole = Model.userRole;
    var selectedDish = restaurant?.RestaurantDishes?
                            .Where(d => d.IdDish == Model.idDish)
                            .FirstOrDefault();


    string pageTitle = "Add new dish";
    if (selectedDish != null)
    {
        pageTitle = $"Edit dish in restaruant {restaurant.Name}";
    }
    ViewData["Title"] = pageTitle;

    string? selectedDishName = selectedDish?.Name;
    string? selectedDishPrice = string.Format("{0:0.00}", selectedDish?.Price);

    var formError = TempData["FormError"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="~/js/empForm.js"></script>
</head>
<body>
    <div class="background-page">
        @if (selectedDish != null)
        {
            <h1 class="title-text">Edit dish '@selectedDish.Name'</h1>
        }
        else
        {
            <h1 class="title-text">Add new dish</h1>
        }
        <div class="line-black"></div>
        @if (restaurant?.RestaurantDishes == null || restaurant.RestaurantDishes.Count() == 0)
        {
            <div class="row text-center">
                <p>Restaurant dishes not found</p>
            </div>
        }
        else
        {
            <h5 class="heading">Dishes that exists in restaurant '@restaurant.Name'</h5>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Dish</th>
                        <th scope="col">Price (PLN)</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowCounter = 1;
                        foreach (var dish in restaurant.RestaurantDishes)
                        {
                            string dishName = dish.Name;
                            string dishPrice = string.Format("{0:0.00}", dish.Price);
                            if (dish.IdDish == selectedDish?.IdDish)
                            {
                                <tr class="table-dark">
                                    <th scope="row">@rowCounter</th>
                                    <td>@dishName</td>
                                    <td>@dishPrice</td>
                                    <td>
                                        <div class="btn-functional-container">
                                            <form asp-controller="" asp-action="" method="post">
                                                <input type="hidden" name="idDish" value="@dish.IdDish" />
                                                <input type="hidden" name="idRestaurant" value="@restaurant.IdRestaurant" />
                                                <input type="submit" value="Edit" class="btn btn-warning btn-functional-table action-menu" />
                                            </form>
                                        </div>
                                        <div class="btn-functional-container">
                                            <form asp-controller="" asp-action="" method="post">
                                                <input type="hidden" name="idDish" value="@dish.IdDish" />
                                                <input type="hidden" name="idRestaurant" value="@restaurant.IdRestaurant" />
                                                <input type="submit" value="Delete" class="btn btn-danger btn-functional-table action-menu" />
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th scope="row">@rowCounter</th>
                                    <td>@dishName</td>
                                    <td>@dishPrice</td>
                                    <td>
                                        <div class="btn-functional-container">
                                            <form asp-controller="restaurant" asp-action="dishForm" method="post">
                                                <input type="hidden" name="idDish" value="@dish.IdDish" />
                                                <input type="hidden" name="idRestaurant" value="@restaurant.IdRestaurant" />
                                                <input type="submit" value="Edit" class="btn btn-warning btn-functional-table action-menu" />
                                            </form>
                                        </div>
                                        <div class="btn-functional-container">
                                            <form asp-controller="" asp-action="" method="post">
                                                <input type="hidden" name="idDish" value="@dish.IdDish" />
                                                <input type="hidden" name="idRestaurant" value="@restaurant.IdRestaurant" />
                                                <input type="submit" value="Delete" class="btn btn-danger btn-functional-table action-menu" />
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                            rowCounter++;
                        }
                    }
                </tbody>
            </table>
        }
        <form asp-controller="" asp-action="" method="post">
            <div class="text-center dish-form-container">
                <table class="card-body-table">
                    <tr>
                        <td class="card-body-table-header">
                            Name:
                        </td>
                        <td class="card-body-table-content">
                            <div class="input-group">
                                <input class="form-control" name="Name" type="text" value="@selectedDishName">
                            </div>
                        </td>
                        <input type="hidden" name="idDish" value="@selectedDish?.IdDish" />
                        <input type="hidden" name="idRestaurant" value="@restaurant?.IdRestaurant" />
                    </tr>
                    <tr>
                        <td class="card-body-table-header">
                            Price (PLN):
                        </td>
                        <td class="card-body-table-content">
                            <div class="input-group">
                                <input class="form-control" name="ExpirationDate" type="number" value="@selectedDishPrice">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-center error-form">
                @if (formError != null)
                {
                    <label class="error-text">
                        @Html.Raw(formError)
                    </label>
                }
            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-success btn-functional action-menu" />
            </div>
        </form>
        <form asp-controller="restaurant" asp-action="restaurants" method="get">
            <div class="text-center">
                <input type="submit" value="Cancel" class="btn btn-danger btn-functional action-menu" />
            </div>
        </form>
        <h5 class="heading">Dishes that not assigned to restaurant '@restaurant?.Name'</h5>
    </div>
</body>
</html>