@using Restaurants_Webpage.Models.UserModels.ClientModels;
@model ClientDetailsModel;

@{
    ViewData["Title"] = $"My Reservations";
    string collapse = "collapse_";
    string heading = "heading_";

    var clientReservations = Model.ClientReservations;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="background-page">
        <h1 class="title-text">My rservations</h1>
        <div class="line-black"></div>
        @{
            if (clientReservations == null || clientReservations.Count() == 0)
            {
                <div class="text-center">
                    <h4>You don't have any reservations yet.</h4>
                </div>
            }
            else
            {
                foreach (var reservation in clientReservations)
                {
                    <div class="card">
                        <div class="header-card" id="@(heading + reservation.IdReservation)">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="@("#" + collapse + reservation.IdReservation)" aria-expanded="false" aria-controls="@(collapse+ reservation.IdReservation)">

                                    <table class="table-card-body-4-col table-restaurant-header">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <h5>Reservation status:</h5>
                                                </th>
                                                <th>
                                                    <h5>Date:</h5>
                                                </th>
                                                <th>
                                                    <h5>Number of seats:</h5>
                                                </th>
                                                <th>
                                                    <h5>Complaint:</h5>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@reservation.Status</td>
                                                <td>@reservation.ReservationDate.ToString("dd/MM/yyyy")</td>
                                                <td>@reservation.HowManyPeoples</td>
                                                @{
                                                    if (reservation.ReservationComplaint == null)
                                                    {
                                                        <td>No</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Yes</td>
                                                    }
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </button>
                            </h5>
                        </div>
                        <div id="@(collapse + reservation.IdReservation)" class="collapse" aria-labelledby="@(heading + + reservation.IdReservation)" data-parent="#accordion">
                            <div class="line-black"></div>
                            <div class="card-body">

                                <table class="table-card-body-2-col table-restaurant">
                                    <thead>
                                        <tr class="text-center">
                                            <th>
                                                <h5>Reservation complaint:</h5>
                                            </th>
                                            <th>
                                                <h5>Actions:</h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr>
                                            <td>
                                                @{
                                                    if (reservation.ReservationComplaint == null)
                                                    {
                                                        <p>This reservation doesn't have any complaint.</p>
                                                        <form asp-controller="restaurant" asp-action="menu" method="post">
                                                            @* <input type="hidden" name="idRestaurant" value="@restaurant.IdRestaurant" />*@
                                                            <input type="submit" value="Make complaint" class="btn btn-primary btn-functional action-menu" />
                                                        </form>
                                                    }
                                                    else
                                                    {
                                                        <p>Status: @reservation.ReservationComplaint.Status</p>
                                                        <p>Message: @reservation.ReservationComplaint.Message</p>
                                                    }
                                                }
                                            </td>

                                            <td>
                                                <form asp-controller="user" asp-action="modifyReservationStatus" method="post">
                                                    <input type="hidden" name="idReservation" value="@reservation.IdReservation" />
                                                    <input type="hidden" name="actionType" value="Confirm" />
                                                    <input type="submit" value="Confirm" class="btn btn-success btn-functional action-menu" />
                                                </form>

                                                <form asp-controller="user" asp-action="modifyReservationStatus" method="post">
                                                    <input type="hidden" name="idReservation" value="@reservation.IdReservation" />
                                                    <input type="hidden" name="actionType" value="Cancel" />
                                                    <input type="submit" value="Cancel" class="btn btn-danger btn-functional action-menu" />
                                                </form>

                                                <form asp-controller="restaurant" asp-action="reservation" method="post">
                                                    <input type="submit" value="Rate" class="btn btn-warning btn-functional action-menu" />
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</body>
</html>